.block-mywork , .block-myeducation {
	list-style-type: none;
	margin: 0;
	padding: 0 40px;
}

.block-mywork .work, .block-myeducation .education-element {
	color: #727070;
	font-size: 14px;
	border-bottom: 1px solid #dbdbda;
	position: relative;
	padding: 27px 0 27px 98px;
}

.block-mywork .info, .block-myeducation .info {
	display: block;
	font-family: 'Open Sans Semibold';
	font-size: 14px;
}

.block-mywork .list-image-marked:before, .block-myeducation .list-image-marked:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin: -27px auto 0;
	width: 53px;
    height: 53px;
	border-radius: 50%;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75),inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75);
}

.block-mywork .work {
	background-image: url(../i/ico/work-min.png);
	background-repeat: no-repeat;
	background-position: 17px 50%;
}

.block-myeducation .school {
	background-image: url(../i/ico/school-min.png);
	background-repeat: no-repeat;
	background-position: 17px 50%;
}

.block-myeducation .high-school {
	background-image: url(../i/ico/graduate-min.png);
	background-repeat: no-repeat;
	background-position: 14px 50%;
}

.block-myeducation .courses {
	background-image: url(../i/ico/file-min.png);
	background-repeat: no-repeat;
	background-position: 19px 50%;
}

.about .photo {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #cecccb;
	padding: 10px;
	margin: 40px 30px 40px 40px;
	border-radius: 50%;
}

.about .info-block {
	display: inline-block;
	vertical-align: top;
  padding-top: 30px;
  width: 379px;
}

.about .title {
	font-family: 'Open Sans Semibold';	
}

.about .info-text {
	font-size: 14px;
	margin: 10px 0;
}

.about .skils {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0 5px;
	width: 230px;
}

.about .skils-title {
	display: inline-block;
	vertical-align: top;
}

.about .skils .skil {
  display: inline-block;
  padding: 0px 7px;
  height: 16px;
  line-height: 17px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Open Sans Semibold';
  color: #1e7465;
  font-size: 9px; 
  text-transform: uppercase; 
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
  border-style: solid;
  border-width: 1px;
  border-color: #c3c2c2;
  background: -webkit-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
  background: linear-gradient(0deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
  box-shadow: 0px 1px 1px 0px rgba(6, 6, 6, 0.07);

  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  z-index: 5;
  margin-right: 10px;
  margin-bottom: 7px;
}

.about .skils .skil:after {
  content: "";
  width: 13px;
  height: 13px;
  line-height: 18px;
  border-bottom: 1px solid #c3c2c2;
  border-left: 1px solid #c3c2c2;
  background-color: #9ed35a;
  border-radius: 4px 0 4px 3px;
  background-color: #f5f4f3;
  position: absolute;
  top: 1px;
  left: -4px;
  z-index: -3;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progidXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
  zoom: 1
}

.about .skils .skil:before {
  content: "";
  height: 2px;
  width: 2px;
  display: block;
  position: absolute;
  left: -1px;
  top: 6px;
  background-color: #fcfdf5;
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  box-shadow: 0 1px 0 #b2ddd83
}

.no-borderradius .about .skils .skil:before, .no-borderradius .about .skils .skil:after{
	display: none;
}