.portfolio-list {
	list-style-type: none;
	padding-top: 20px;
}

.portfolio-list .portfolio-element {
	display: inline-block;
	vertical-align: top;

	margin: 0 33px 33px 0;

	border: 1px solid  #bebebe;
	border-radius: 5px;
	width: 163px;

	overflow: hidden;
}

.portfolio-list .tmb {
	position: relative;
	width: 163px;
	height: 119px;
}

.portfolio-list .tmb:after {
	content: " ";
	display: block;
	width: 163px;
	height: 119px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(128, 128, 128, .4);
}

.portfolio-list .tmb:hover:after {
	background-color: rgba(128, 128, 128, 0);
}

.portfolio-list .url {
	height: 33px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Open Sans Semibold';
	background-color: #f2f2f2;
}

.portfolio-list .url a {
	color: #727070;
	text-decoration: none;
}

.portfolio-list .url a:hover {
	text-decoration: underline;
}

.portfolio-list .desc {
	font-size: 12px;
	font-family: 'Open Sans Light';
	text-align: center;
	padding: 10px;
	background-color: #fff;
}

.portfolio-list .add-new {
	width: 163px;
	height: 133px;
	background-image: -moz-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
}

.portfolio-list .add-new:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
 
}


.portfolio-list .btn {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: 'Open Sans Semibold';
	text-decoration: none;
	color: #727070;
	text-align: center;
	padding: 25px 0 0;
}

.portfolio-list .btn:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 53px;
    height: 53px;
    margin-bottom: 11px;
    background-position: 0 0;
    background-image: url(../i/ico/polaroid-new.png);
    background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75),inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75);
}

.portfolio-list a {
	text-decoration: none;
	color: #727070;
}

.add-project {
	display: block;
	padding-bottom: 20px;
}

.modal_div {
	width: 365px;
	position: fixed;
	top: 45%;
	left: 50%; 
	margin-top: -260px;
	margin-left: -150px;
	display: none;
	z-index: 1005;
}

.modal_div .modal_close {
	position: absolute;
	top: 27px;
	right: 8px;
	cursor: pointer;
}

.file-upload-input-container {
	height: 41px;
	border: 1px solid #d6d5d3;
	border-radius: 5px;
	margin-bottom: 5px;
	position: relative;
}

.file-upload-input-container:after {
	content: "";
	display: block;
	background-image: url(../i/spritesheet.png);
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
    height: 100%;
    background-position: -50px -11px;
    border-left: 1px solid #d6d5d3;
    z-index: 2002;
}

.file-upload-input-container:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 55px;
    height: 100%;
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
	z-index: 2001;
}

.file-upload-input-container .file-upload-input {
	-moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.modal_div .title {
	color: #fff;
	font-family: 'Open Sans Light';
	font-size: 12px;
	padding: 0 0 5px 23px;
}

.modal_div .label {
	font-size: 14px;
	display: block;
	padding: 0 0 9px;
}

.modal_div .content {
	background-color: #fff;
	border-radius: 8px;
	padding: 21px 22px;
}

.modal_div input, .modal_div textarea {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	font-size: 12px;
	margin-bottom: 6px;
	box-shadow: none;
	border: 1px solid #d6d5d3;
	border-radius: 5px;
}

.modal_div input {
	height: 41px;
}


.modal_div .btn {
	border-radius: 5px;
	background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	-webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 0px 1px rgba(30,116,102,0.5);
	-moz-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 0px 1px rgba(30,116,102,0.5);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 0px 1px rgba(30,116,102,0.5);
	border: 0;
	width: 123px;
	height: 40px;
	margin: 25px auto 15px;
	display: block;

	font-family: 'Open Sans Semibold';
	font-size: 14px;
	color: rgb(30, 116, 101);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.modal_div textarea {
	resize: none;
	height: 110px;
}

.no-borderradius .portfolio-list .btn:before {
	width: 53px;
    height: 55px;
    background-position: -5px -233px;
    background-image: url(../i/spritesheet.png);
}

#overlay {
	z-index:1000; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}