html, body {
	height: 100%;
}


.no-bgsizecover body {
	background-image: url(../i/bg-nocover.jpg);
}

body {
	background-image: url(../i/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans';
}


h1, h2,h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
}

i {
	color: transparent;
	text-indent: 9999px;
	overflow: hidden;
}


/* For modern browsers */
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}

/* для IE6-7 */
.clearfix {
   zoom: 1;
}


.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
}

.content {
  
}

.wrp {
	width: 960px;
	margin: 0 auto;
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header {
	width: 100%;
	height: 97px;
	background-color: #fff;
	min-width: 960px;
	background-image: url(../i/bg-header.png);
	background-repeat: repeat-x;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}





.header-wrp {
	max-width: 1206px;
	margin: 0 auto;
	padding: 0 10px;
}

.logo {
	float: left;
	padding: 10px 0 0 13px;
}

.social {
	float: right;
	margin: 27px 0 0;
}

.social a {
	color: #fff;
}

.social a:hover {
	color: #343ea3;
}

.social > li {
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	border-radius: 50%;
	margin-left: 12px;
	vertical-align: top;
}

.social .icon-block {
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 50%;
}

.social > li:first-child {
	margin-left: 0;
}

.no-borderradius .social > li {

}

.footer {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 61px;
}

.block-main {
	width: 652px;
	float: right;
	padding-bottom: 60px;
}


.block-section {
	margin: 36px 0;
	background-color: #f6f5f5;
	border: 1px solid #c5c5c5;
	border-top: 0;
	border-radius: 6px;
	box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 0.35),inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);

	overflow: hidden;
}

.block-section .title-block {
	min-height: 45px;
	background-color: #8a8787;
	background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	border-top: 1px solid #9c9c9c;
	border-bottom: 1px solid #636363;
	border-radius: 5px 5px 0 0;
	color: rgb(238, 237, 236);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);

	

	font-size: 24px;
	font-family: 'Open Sans Semibold';
	font-weight: normal;
	padding: 10px 0 0 44px;
}

.no-cssgradients .block-section .title-block {
	background-image: url(../i/bg-title.png);
	background-repeat: repeat-x;
}

.login {
	display: block;
	position: absolute;
	top: 18px;
	left: 50%;
	margin-left: -311px;
	font-size: 14px;
	font-weight: bold;
	color: #9c9c9c;
	text-decoration: none;
}

.login:before {
	content: "";
	display: inline-block;
	width: 24px;
    height: 28px;
    background-position: -36px -120px;
    background-image: url(../i/spritesheet.png);
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 3px;
}

.login:hover:before {
	content: "";
	display: inline-block;
	width: 24px;
    height: 28px;
    background-position: -70px -120px;
    background-image: url(../i/spritesheet.png);
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 3px;
}

.copy {
	font-size: 12px;
	font-family: 'Open Sans Light';
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
}

.block-aside {
	margin-top: 36px;
	width: 250px;
	float: left; 
}

.nav-main {
	overflow: hidden;
}

.nav-main .about .menu-element {
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #b9b9b9;
} 

.nav-main .contact .menu-element {
	border-radius: 0 0 4px 4px;
	border-bottom: 1px solid #b9b9b9;
} 

.nav-main .menu-element {
	display: block;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	

	font-family: 'Open Sans Semibold';
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	padding-left: 30px;
	line-height: 53px;
	height: 55px;
	color: #727070;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
	border-right: 1px solid #b9b9b9;
	border-left: 1px solid #b9b9b9;
}



.nav-main .active {
	background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 0px 1px rgba(47,161,133,0.6);
	border: none !important;
}

.nav-main a .menu-element:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.no-cssgradients .nav-main .menu-element {
	background-color: #f7f5f5;
	background-image: url(../i/bg-menu-element.png);
}

.no-cssgradients .nav-main .active {
	background-color: #4cc1a4;
	background-image: url(../i/bg-menu-element-active.png);
}

.no-cssgradients .nav-main a .menu-element:hover {
	background-color: #d2d0d0;
	background-image: url(../i/bg-menu-element-hover.png);
}


.nav-main a {
	text-decoration: none;
	color: #727070;
}

.contacts {
	margin-top: 35px;
}

.contacts .title {
	font-family: 'Open Sans Semibold';
	font-size: 20px;
	color: rgb(208, 152, 44);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	background-image: -moz-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	height: 33px;

	border-radius: 4px 4px 0 0;
	border: 1px solid #caa152;

	padding: 7px 0 0 28px;
}


.nav-contacts .menu-element {
	box-sizing: border-box;
	display: block;
	height: 37px;
	border: 1px solid #d6d5d3;
	border-bottom: none;
	background-color: #f9f8f8;
	padding: 8px 0 0 80px; 
	font-size: 14px;

	position: relative;
}

.nav-contacts .skype .menu-element {
	border-bottom: 1px solid #d6d5d3;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0px 3px 2px -2px rgba(255,255,255,.7);
	-moz-box-shadow: 0px 3px 2px -2px rgba(255,255,255,.7);
	box-shadow: 0px 3px 2px -2px rgba(255,255,255,.7);
}

.nav-contacts .menu-element:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 49px;
	width: 10px;
    height: 38px;
    background-position: -254px -5px;
    background-image: url(../i/spritesheet.png);
}

.nav-contacts .email .menu-element:before {
	content: "";
	display: block;
	background-image: url(../i/spritesheet.png);
	width: 16px;
    height: 12px;
    background-position: -248px -53px;
    position: absolute;
	top: 12px;
	left: 19px;
}

.nav-contacts .phone .menu-element:before {
	content: "";
	display: block;
	background-image: url(../i/spritesheet.png);
	width: 16px;
    height: 21px;
    background-position: -248px -75px;
    position: absolute;
	top: 10px;
	left: 19px;
}

.nav-contacts .skype .menu-element:before {
	content: "";
	display: block;
	background-image: url(../i/spritesheet.png);
	width: 19px;
    height: 19px;
    background-position: -230px -118px;
    position: absolute;
	top: 11px;
	left: 19px;
}

.nav-contacts a {
	color: #727070;
	text-decoration: none;
}

.nav-contacts .email a {
	text-decoration: underline;
}

.nav-contacts .menu-element:hover {
	background-image: -moz-linear-gradient( 90deg, rgba(224,197,145,.7) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(224,197,145,.7) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(224,197,145,.7) 0%, rgba(251,249,249,0) 100%);
}

.no-cssgradients .nav-contacts .menu-element:hover {
	background-image: url(../i/bg-contacts-hover.png);
	background-repeat: repeat-x;
}

.no-cssgradients .contacts .title {
	background-image: url(../i/bg-contacts-title.png);
	background-repeat: repeat-x;
}
