html, body {
	height: 100%;
 	min-height: 100%;
}


.no-bgsizecover body {
	background-image: url(../i/bg-nocover.jpg);
}

body {
	background-image: url(../i/bg.jpg);
	background-size: cover;

	font-family: 'Open Sans';
}


h1, h2,h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
}

i {
	color: transparent;
	text-indent: 9999px;
	overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 70px;
}

.wrp {
	width: 960px;
	margin: 0 auto;
}

.nav {
	margin: 0;
	padding: 0;
}

.hide-text {
	font-size: 0;
}

.header {
	height: 97px;
	background-color: #fff;
	background-image: url(../i/bg-header.png);
	background-repeat: repeat-x;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}



.header-wrp {
	max-width: 1206px;
	margin: 0 auto;
	padding: 0 10px;
}

.logo {
	float: left;
	padding: 10px 0 0 13px;
}

.social {
	float: right;
	margin: 27px 0 0;
}

.social a {
	color: #fff;
}

.social a:hover {
	color: #343ea3;
}

.social > li {
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	border-radius: 50%;
	margin-left: 12px;
	vertical-align: top;
}

.social .icon-block {
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 50%;
}

.social > li:first-child {
	margin-left: 0;
}

.no-borderradius .social > li {

}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 61px;
  background-color: #fff;
}

.block-main {
	width: 652px;
	float: right;
}

.block-nav {
	width: 250px;
	float: left;
}

.block-section {
	margin: 36px 0;
	background-color: #f6f5f5;
	border: 1px solid #c5c5c5;
	border-top: 0;
	border-radius: 6px;
	box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 0.35),inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);

	overflow: hidden;
}

.block-section .title-block {
	height: 45px;
	background-color: #8a8787;
	background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	border-top: 1px solid #9c9c9c;
	border-bottom: 1px solid #636363;
	border-radius: 5px 5px 0 0;
	color: rgb(238, 237, 236);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);

	font-size: 24px;
	font-weight: 600;
	padding: 10px 0 0 44px;
}

.no-cssgradients .block-section .title-block {
	background-image: url(../i/bg-title.png);
	background-repeat: repeat-x;
}